.container {
  color: var(--theme-purple);
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-white);
  border: 3px solid var(--theme-black);
  border-radius: 30px;
  cursor: default;
}
.container > * {
    cursor: pointer;
}

.container hr {
    width: 75%;
    height: 5px;
    margin-block: 5px;
    border-color: var(--theme-green);
    background-color: var(--theme-orange);
    border-radius: 10px;
}

.container h1 {
    font-family: monospace;
    color: green1;
    font-size: max(3.5vw, 4vh);
    font-weight: 800;
    margin: max(.5vw, 2px);
    padding: 0;
    text-shadow: 2px 1px 1px green2, -2px -1px 1px green2;
}

.container h2 {
    color: var(--theme-purple);
    font-weight: 800;
    font-size: max(2.3vw, 2.3vh);
    padding-inline: 10%;
    margin-inline: 5%;
    margin-block: 5px;
    border: 5px solid var(--theme-green);
    background-color: var(--theme-orange);
    border-radius: 5px;
    text-shadow: 1px 1px 1px var(--theme-black), -1px -1px 1px var(--theme-black);
}

.container h3 {
    color: var(--theme-green);
    font-weight: 800;
    font-size: max(2vw, 2vh);
    padding-inline: 10%;
    margin-inline: 5%;
    margin-block: 5px;
    border: 5px solid var(--theme-purple);
    background-color: var(--theme-white);
    border-radius: 5px;
}

.contactInfo {
    font-weight: 400;
    margin: max(.5vw, 2px);
    padding: 0;
}

.contactInfo > h4 {
    color: var(--theme-green);
    font-size: max(2vw, 2vh);
    font-weight: 300;
    text-shadow: 1px 1px 1px var(--theme-black), -1px -1px 1px var(--theme-black);
    margin: 5px;
    padding: 0;
}

.list hr {
    width: 50%;
    height: 5px;
    border-color: var(--theme-orange);
    background-color: var(--theme-purple);
    border-radius: 10px;
}

.list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-block: 2px;
    border-radius: 20px;
    background-color: var(--theme-purple);
    border: 5px solid var(--theme-orange);
    color: silver   ;
    text-shadow: 1px 1px 1px var(--theme-black), -1px -1px 1px var(--theme-black);
}

.list h4 {
    align-self: center;
    font-size: max(1.75vw, 1.75vh);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.list li {
    font-size: max(1.5vw, 1.5vh);
    margin: max(.5vw, 2px);
    padding: 0;
}