  .bizcard a {
    color: hsl(272, 52%, 30%);
  }

  .bizcard {
    background: linear-gradient(
          to right,
          hsl(198, 52%, 80%),
          hsl(0, 0%, 80%),
          hsl(0, 0%, 80%),
          hsl(198, 52%, 80%)
        )
        content-box,
      linear-gradient(
          to right,
          hsl(198, 52%, 50%),
          hsl(0, 0%, 50%),
          hsl(0, 0%, 50%),
          hsl(198, 52%, 50%)
        )
        border-box;
  }

.bizcard {
  padding: 0.3em;
  height: 193px;
  width: 338px;
  position: -webkit-sticky;
  position: static;
  margin-inline: auto;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.bizcard > address {
  text-align: center;
  padding-block: 0;
  margin-block: 0;
}

.bizcard h2,
.bizcard h3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.1em;
  padding-block: 0em;
  margin-block: 0em;
  padding-inline: 0.2em;
}

.bizcard h3 {
  font-size: 12pt
}

.bizcard a {
  margin-inline: 0.5em;
  margin-block: 0em;
}

.bizcard ul {
  display: contents;
  list-style: none;
}

.bizcard small {
  display: contents;
}

.bizcard li {
  margin-block: 0;
  padding-block: 0;
  margin-inline: 0.5rem;
  font-weight: 400;
}
