@media (prefers-color-scheme: dark) {
  .dark {
    filter: invert(100%);
  }
  .bizcard a {
    color: hsl(272, 52%, 85%);
  }
  .bizcard {
    background: linear-gradient(
          to right,
          hsl(272, 52%, 30%),
          hsl(0, 0%, 0%),
          hsl(0, 0%, 0%),
          hsl(272, 52%, 30%)
        )
        content-box,
      linear-gradient(
          to right,
          hsl(272, 52%, 60%),
          hsl(0, 0%, 30%),
          hsl(0, 0%, 30%),
          hsl(272, 52%, 60%)
        )
        border-box;
  }
}

@media (prefers-color-scheme: light) {
  .light {
    filter: invert(100%);
  }
  .bizcard a {
    color: hsl(272, 52%, 30%);
  }

  .bizcard {
    background: linear-gradient(
          to right,
          hsl(198, 52%, 80%),
          hsl(0, 0%, 80%),
          hsl(0, 0%, 80%),
          hsl(198, 52%, 80%)
        )
        content-box,
      linear-gradient(
          to right,
          hsl(198, 52%, 50%),
          hsl(0, 0%, 50%),
          hsl(0, 0%, 50%),
          hsl(198, 52%, 50%)
        )
        border-box;
  }
}

.bizcard {
  padding: 0.3em;
  height: 193px;
  width: 338px;
  position: -webkit-sticky;
  position: static;
  margin-inline: auto;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.bizcard > address {
  display: contents;
  text-align: center;
}

.bizcard h2,
.bizcard h3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.1em;
  padding-block: 0.1em;
  padding-inline: 0.2em;
}

.bizcard a {
  margin-inline: 0.5em;
  margin-block: 0.4em;
}

.bizcard h2 {
  margin-top: 0.1em;
  margin-bottom: 0;
}

.bizcard h3 {
  margin-block: 0;
}

.bizcard ul {
  display: contents;
  list-style: none;
}

.bizcard small {
  display: contents;
}

.bizcard li {
  margin-inline: 0.5rem;
  font-weight: 400;
}
