.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%);
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    border-radius: 10px;
    padding: 10px;
}

.wrapper > * {
    margin: .5vw;
    padding: 0;
}

.nav {
    grid-area: nav;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}