.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: fit-content(100%);
    grid-template-areas: "left center center right";
  }
  
  @media screen and (max-width: 480px) {
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: fit-content(100%);
      grid-template-areas: 
          "left right right right"
          "center center center center"
    }
  }