.layout > * {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }  

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%);
    grid-template-areas: 
        "nav"
        "main"
        "footer";
  }
