/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(315, 37, 48, 1); }
.My-Color-Theme-2-hsla { color: hsla(46, 100, 91, 1); }
.My-Color-Theme-3-hsla { color: hsla(95, 21, 58, 1); }
.My-Color-Theme-4-hsla { color: hsla(32, 100, 50, 1); }
.My-Color-Theme-5-hsla { color: hsla(231, 25, 21, 1); }
